#header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 2px;
  height: calc(70vh/3);
  margin: 0 auto;
  width: 100%;
}

.viewFilghts mat-card {
  background: #E0E0E0;
}

.searchCard {
  background: #3367D6;
}
