@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";


@import "~bootstrap/scss/bootstrap";