[_nghost-c6] {
  border: none;
  display: inline;
}
/* Calendar Custom Styles */
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
  border-radius: 50px;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
  border-radius: unset;
}

.calendar {
  background: #ffffff;
  padding: 10px 12px 10px 12px;
  border: #3367D6 solid 2px;
  color: #8A8A8A;
  display: block;
}

.calendar span {
  padding: 0 50px 0 0;
}

#calendar-divider {
  border-left: 1px solid #8A8A8A;
}
