
#sidebar, #sidebarr {
    width: max-content;
    height: fit-content;
   border: 1px solid black;
    margin-right: 10px;
   float:left;
  }
  .row {
    display: flex; /* equal height of the children */
  }
  
  .col {
    flex: 1; /* additionally, equal width */
    text-align: center;
    padding: 1em;
    /* border: solid; */
  }
   mat-grid-tile {
    background: lightblue;
  } 
  .forms{
    border: 3px,solid red;
    /* border-color: brown; */
  }
  .mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }